/* variables */

:root {
  --main-font: "Poppins", sans-serif;
  --background-color: #e9f0f6;
  --gray: rgb(146, 146, 146);
  --white: #fff;
  --black: #111;
  --green: #489691;
  --red: #c70000;
}

/* global styles */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: var(--background-color);
}

[class$="__container"] {
  max-width: 120rem;
  width: 90%; /* cuando el ancho sea menos de 1200px va a ocupar el 90% */
  margin: 0 auto; /* centra el contenedor */
}

[class$="__headings"] {
  margin: 2rem 0;
}

/* header */

.header {
  background-color: var(--white);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 47px -14px;
}

.header__headings {
  margin: 0;
  padding: 1rem;
  font-size: 1.9rem;
}

/* main  */

.main {
  margin-top: 8rem;
}

@media (min-width: 1024px) {
  .main__grid {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 4rem;
    justify-items: center;
  }
}

/* section patient */
.main__patient {
  background-color: var(--white);
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  max-width: 100%;
}

@media (min-width: 468px) {
  .main__patient {
    padding: 2rem 4rem;
  }
}

.main__headings {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.form__field {
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  font-weight: 600;
}

.form__input,
.form__textarea {
  width: 100%;
  border-radius: 0.8rem;
  border-style: solid;
  border-color: var(--gray);
  padding: 0.8rem;
}

.form__textarea {
  resize: none;
}

/* buttons */

.btn {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.btn--add {
  background-color: var(--green);
}

/* appointments section */

.main__appointments {
  margin-top: 8rem;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .main__appointments {
    margin-top: 0;
  }
}

.appointments {
  list-style-type: none;
  padding: 0;
}

.appointment {
  background-color: var(--white);
  padding: 2rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.appointment__patient-name {
  text-align: center;
}

.appointment__label {
  color: var(--gray);
  font-weight: 600;
  margin-bottom: 0;
}

.appointment__data {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  word-wrap: break-word;
}

.appointment__btn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 4rem;
}

.btn--remove {
  background-color: var(--red);
}

.btn--edit {
  background-color: var(--green);
}
